@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap" rel="stylesheet');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
a, a:hover, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

h4 {
  font-size: 12px;
}
img {
  max-width: 100%;
}

.red-box {
  box-sizing: border-box;
  border: 1px solid red;
}
.app-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: .05em;
  color: #ffffff;
  opacity: .75;
}
.header {
  background-color: #01579B;
  padding: 10px 0 10px;
  height: 90px;
}
.footer {
  background-color: #01579B;
  padding: 10px 0 10px;
  border-bottom: 1px solid #333333;
  height: 50px;
}
.footer-note {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #ffffff;
}
.profile-picture {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 11px;
}
.profile-search-name {
  font-size: 16px;
}
.picture-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.accent-text{
  color: #01579B;
}
.accent-bg {
  background-color: #01579B !important;
}
.loader-container{
  width: 100vw;
  height: 100vh;
  /*background-color: #ffffff;*/
  display: flex;
  align-content: center;
  position: fixed;
  top:0;
  left: 0;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 500ms linear infinite;
  margin-left: auto;
  margin-right: auto;
}
.card {
  animation-name: fade-in;
  animation-duration: 300ms;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 576px) {
  .profile-table { font-size: 14px;}
  .profile-picture-xs {
    height: 150px;
  }
  .profile-search-name {
    font-size: 16px;
  }
  .card {padding: 0;}
}
